@import '~components/theme/theme-provider-mixins.module.scss';

.main {
  @include themeLight {
    background-color: #F7F9FC;
  }

  @include themeMidnight {
    background-color: #F9F0E8;
  }

  @include themeDark {
    background-color: #121621;
  }

  @include themeChangeTransition(background-color);
}
