@import '~styles/functions.scss';
@import '~styles/mixins.scss';

.aside-list {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @include screenMdOnly {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: get-rem(-32);
  }

  &_item {
    flex: 1 1 100%;
    padding-bottom: get-rem(24);

    &:last-child {
      padding-bottom: 0;
    }

    @include screenMdOnly {
      flex-basis: 33.3333%;
      max-width: 33.3333%;
      padding-bottom: 0;
      padding-top: get-rem(32);
      padding-right: get-rem(48);
    }
  }
}

.item-with-icon {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  &__icon {
    display: flex;
    align-items: center;
    width: get-rem(32);
    min-width: get-rem(32);
    height: get-rem(32);
  }

  &__content {
    padding-left: get-rem(16);

    & > *:not(:last-child) {
      line-height: normal;
      margin-bottom: get-rem(4);
    }
  }
}
