@import '~styles/functions.scss';
@import '~styles/mixins.scss';
@import '~components/theme/theme-provider-mixins.module.scss';

.root {
  background-color: #141414;
}

.hero {
  display: flex;
  align-items: stretch;
  min-height: 100%;

  &__canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;

    &_safari-fix {
      filter: blur(90px);
    }
  }

  &__body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
    flex-grow: 1;
    z-index: 3;
    padding: 0 get-rem(40);

    @include screenMd {
      justify-content: center;
    }
  }
}
