@import '~styles/mixins.scss';
@import '~styles/functions.scss';
@import '~components/theme/theme-provider-mixins.module.scss';

.hero {
  display: flex;
  align-items: stretch;
  min-height: 100%;
  background-color: #141414;

  &__canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(90px);
    pointer-events: none;
  }

  &__body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
    flex-grow: 1;
    z-index: 3;
    padding: 0 get-rem(40);

    @include screenMd {
      justify-content: center;
    }
  }
}

.logo {
  position: fixed;
  z-index: 4;
  top: get-rem(20);
  left: get-rem(20);
  width: get-rem(40);
  fill: #fff;
}
