@import '~styles/mixins.scss';
@import '~styles/functions.scss';
@import '~components/theme/theme-provider-mixins.module.scss';

.root {
  @include rootThemeLight {
    background-color: hsl(216, 22%, 91%);

    ::selection {
      background-color: hsla(250, 100%, 90%, 0.5);
    }
  }

  @include rootThemeMidnight {
    background-color: hsl(32, 50%, 90%);

    ::selection {
      background-color: hsla(35, 100%, 60%, 0.5);
    }
  }

  @include rootThemeDark {
    background-color: hsl(222, 25%, 23%);

    ::selection {
      background-color: hsla(240, 70%, 65%, 0.5);
    }
  }

  @include rootThemeChangeTransition(background-color);
}

.wrapper {
  flex: 1;
  display: flex;
  min-height: 100%;
  align-items: stretch;
  position: relative;

  @include screenLg() {
    margin: 0 auto;
    padding: get-rem(30);
    max-width: 1275px;
  }

  @include print {
    max-width: 100%;
    padding: 0;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  flex: 1;

  @include themeLight {
    background-color: #f7f9fc;
  }

  @include themeMidnight {
    background-color: #f9f0e8;
  }

  @include themeDark {
    background-color: #121621;
  }

  @include themeChangeTransition(background-color);

  @include screenLg() {
    flex-direction: row;
    border-radius: get-rem(16);
    overflow: hidden;

    @include themeLight {
      box-shadow: 0 get-rem(60) get-rem(36) hsla(215, 21%, 11%, 0.01),
        0 get-rem(26) get-rem(26) hsla(215, 21%, 11%, 0.01),
        0 get-rem(6) get-rem(14) hsla(215, 21%, 11%, 0.01);
    }

    @include themeMidnight {
      box-shadow: 0 get-rem(60) get-rem(36) hsla(215, 21%, 11%, 0.03),
        0 get-rem(26) get-rem(26) hsla(215, 21%, 11%, 0.02),
        0 get-rem(6) get-rem(14) hsla(215, 21%, 11%, 0.01);
    }

    @include themeDark {
      box-shadow: 0 get-rem(60) get-rem(36) rgba(0, 0, 0, 0.05),
        0 get-rem(26) get-rem(26) rgba(0, 0, 0, 0.1),
        0 get-rem(6) get-rem(14) rgba(0, 0, 0, 0.1);
    }

    @include themeChangeTransition(background-color, box-shadow);
  }

  @include print {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
}

.controls {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-bottom: get-rem(20);
  padding-right: get-rem(20);
  z-index: 3;
  transform: translateZ(0);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  will-change: transform, opacity;

  @include screenLg {
    position: sticky;
    align-self: flex-start;
    padding-right: 0;
    padding-left: get-rem(24);
    bottom: auto;
    top: get-rem(30);
    transition: none;
    transform: none;
    will-change: none;
  }

  @include print {
    display: none;
  }

  & > * {
    margin-bottom: get-rem(12);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &_scrolling-down {
    opacity: 0;
    transform: translateY(100%) translateZ(0);

    @include screenLg {
      opacity: 1;
      transform: none;
    }
  }
}

.theme-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: get-rem(50);
  height: get-rem(50);
  transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;

  &:hover {
    transition-timing-function: linear;
    transition-duration: 80ms;
  }

  @include themeLight {
    background-color: hsl(224, 30%, 22.5%);
    color: #fff;
    box-shadow: 0 0 get-rem(6) hsla(215, 21%, 11%, 0.01),
      0 0 get-rem(3) hsla(215, 21%, 11%, 0.01),
      0 0 get-rem(1) hsla(215, 21%, 11%, 0.01);

    &:hover {
      background-color: hsl(224, 30%, 35%);
    }
  }

  @include themeMidnight {
    background-color: hsl(30, 50%, 70%);
    color: #fff;
    box-shadow: 0 0 get-rem(6) hsla(215, 21%, 11%, 0.01),
      0 0 get-rem(3) hsla(215, 21%, 11%, 0.01),
      0 0 get-rem(1) hsla(215, 21%, 11%, 0.01);

    &:hover {
      background-color: hsl(30, 50%, 50%);
    }
  }

  @include themeDark {
    background-color: hsl(225, 14%, 50%);
    color: #fff;
    box-shadow: 0 0 get-rem(6) rgba(0, 0, 0, 0.05),
      0 0 get-rem(3) rgba(0, 0, 0, 0.1), 0 0 get-rem(1) rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: hsl(226, 27%, 32%);
    }
  }

  @include themeChangeTransition(color, background-color, box-shadow);
}

.aside {
  flex: 0;
  width: 100%;
}

.main {
  flex: 1;
  padding: get-rem(18);
  padding-bottom: get-rem(64);

  @include screenLg() {
    padding: get-rem(64) get-rem(48) get-rem(48) get-rem(48);
  }
}
