@import '~styles/functions.scss';
@import '~components/theme/theme-provider-mixins.module.scss';
@import '~components/typography/typography-utils.scss';

.download-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 300ms ease-in-out;
  cursor: pointer;
  text-decoration: none;
  font-size: 0;
  color: #fff;
  height: get-rem(50);
  width: get-rem(50);

  @include themeMidnight {
    background-color: hsl(5, 48%, 42%);
  }

  @include theme($light, $dark) {
    background-color: #5367FF;
  }

  @include themeChangeTransition(background-color);

  &:hover {
    transition-duration: 100ms;
    transition-timing-function: linear;

    @include themeMidnight {
      background-color: hsl(5, 48%, 33%);
    }

    @include theme($light, $dark) {
      background-color: #334BFF;
    }
  }

  &__icon {
    width: get-rem(16);
    height: get-rem(16);
    fill: currentColor;
  }
}
