@import "~common/styles/variables.scss";
@import "~common/styles/mixins.scss";
@import "~common/components/typography/typography.module.scss";
@import '~common/components/theme/theme-provider-mixins.module.scss';

.block {
  margin-bottom: get-rem(48);

  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  margin-bottom: get-rem(8);
}

.paragraph {
  margin-bottom: get-rem(8);

  &:last-child {
    margin-bottom: 0;
  }
}

.experience-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    margin-bottom: get-rem(12);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.experience {
  padding: get-rem(16);
  border-radius: get-rem(16);

  @include themeLight {
    background-color: #ffffff;
    box-shadow: 0 get-rem(18) get-rem(10) rgba(0, 0, 0, 0.01),
                0 get-rem(8) get-rem(8) rgba(0, 0, 0, 0.02),
                0 get-rem(2) get-rem(4) rgba(0, 0, 0, 0.02);
  }

  @include themeDark {
    background-color: #1B2132;
    box-shadow: 0 get-rem(18) get-rem(10) rgba(255, 255, 255, 0.01),
                0 get-rem(8) get-rem(8) rgba(255, 255, 255, 0.02),
                0 get-rem(2) get-rem(4) rgba(255, 255, 255, 0.02);
  }

  @include themeChangeTransition(background-color, box-shadow);

  @include screenMd {
    padding: get-rem(16) get-rem(24) get-rem(16) get-rem(16);
  }

  &__header {
    margin-bottom: get-rem(12);
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;

    @include screenMd {
      flex-direction: row;
    }
  }

  &__company {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    padding-right: get-rem(12);
  }

  &__company-name {
    margin-bottom: get-rem(2);
  }

  &__company-logo {
    width: get-rem(48);
    height: get-rem(48);
  }

  &__company-info {
    padding-left: get-rem(12);
  }

  &__metrics {
    padding-bottom: get-rem(8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    @include screenMd {
      flex-direction: column;
      justify-content: center;
      flex-shrink: 1;
      padding-bottom: 0;
    }
  }

  &__location {
    display: flex;
    align-items: center;
  }

  &__location-icon {
    display: block;
    width: get-rem(12);
    min-width: get-rem(12);
    height: get-rem(12);
    margin-right: get-rem(4);
    transform: translateY(-22.5%);

    @include themeLight {
      fill: $lightThemeLightGray;
    }

    @include themeDark {
      fill: $darkThemeLightGray;
    }

    @include themeChangeTransition(fill);
  }


  &__dates {
    @include screenMd {
      margin-bottom: get-rem(4);
    }
  }

  &__paragraph {
    margin-bottom: get-rem(4);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.education-list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  list-style-type: none;
  margin: get-rem(-12) 0 0 get-rem(-12);

  &__item {
    flex: 1 1 100%;
    max-width: 100%;
    padding: get-rem(12) 0 0 get-rem(12);

    &:last-child {
      margin-bottom: 0;
    }

    @include screenXl {
      flex: 1 1 33.333333%;
      max-width: 33.333333%;
    }
  }
}

.education {
  height: 100%;
  padding: get-rem(16) get-rem(24) get-rem(16) get-rem(16);
  border-radius: get-rem(16);
  display: flex;
  flex-direction: row;

  @include themeLight {
    background-color: #ffffff;
    box-shadow: 0 get-rem(18) get-rem(10) rgba(0, 0, 0, 0.01),
      0 get-rem(8) get-rem(8) rgba(0, 0, 0, 0.02),
      0 get-rem(2) get-rem(4) rgba(0, 0, 0, 0.02);
  }

  @include themeDark {
    background-color: #1B2132;
    box-shadow: 0 get-rem(18) get-rem(10) rgba(255, 255, 255, 0.01),
      0 get-rem(8) get-rem(8) rgba(255, 255, 255, 0.02),
      0 get-rem(2) get-rem(4) rgba(255, 255, 255, 0.02);
  }

  @include themeChangeTransition(background-color, box-shadow);

  &__company-logo {
    width: get-rem(48);
    min-width: get-rem(48);
    height: get-rem(48);
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: get-rem(12);

    & > * {
      line-height: 1.1;
      margin-bottom: get-rem(2);
    }
  }

  &__certificate {
    display: flex;
    flex-direction: row;
    line-height: normal;
    align-items: center;
    color: $accent
  }

  &__certificate-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: get-rem(16);
    height: get-rem(16);
    min-width: get-rem(16);
    border-radius: 50%;
    margin-right: get-rem(8);
    transform: translateY(-10%);
    color: $accent;

    @include themeLight {
      background-color: #E1E7FE;
    }

    @include themeDark {
      background-color: #2F3751;
    }
  }

  &__certificate-icon {
    fill: currentColor;
    width: get-rem(12);
    height: get-rem(12);
  }
}
