@import '~styles/variables.scss';
@import '~styles/mixins.scss';
@import '~styles/functions.scss';

.main-block {
  margin-bottom: get-rem(48);

  &:last-child {
    margin-bottom: 0;
  }

  @include print {
    margin-bottom: get-rem(36);
  }
}

.title {
  line-height: 1;
  margin-bottom: get-rem(12);
}

.paragraph {
  margin-bottom: get-rem(8);
  max-width: 80ch;

  &:last-child {
    margin-bottom: 0;
  }
}

.experience-list {
  padding: 0;
  list-style-type: none;

  &__item {
    margin-bottom: get-rem(12);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.education-list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  list-style-type: none;
  margin: get-rem(-12) 0 0 get-rem(-12);

  &__item {
    flex: 1 1 100%;
    max-width: 100%;
    padding: get-rem(12) 0 0 get-rem(12);

    &:last-child {
      margin-bottom: 0;
    }

    @include screenMd {
      flex-basis: 50%;
      max-width: 50%;
    }

    @include screenXl {
      flex-basis: 33.333333%;
      max-width: 33.333333%;
    }
  }
}
