@import '~styles/variables.scss';
@import '~styles/functions.scss';
@import '~components/theme/theme-provider-mixins.module.scss';

$lightThemeBlack: #2E2E48;
$lightThemeDarkGray: #3D465C;
$lightThemeGray: #646A7B;
$lightThemeLightGray: #79819A;

$midnightThemeBlack: hsl(0, 7%, 15%);
$midnightThemeDarkGray: hsl(30, 7%, 25%);
$midnightThemeGray: hsl(30, 7%, 40%);
$midnightThemeLightGray: hsl(30, 14%, 45%);

$darkThemeBlack: #E0E0EB;
$darkThemeDarkGray: #D2D4DB;
$darkThemeGray: #AAAFBB;
$darkThemeLightGray: #8E94A4;

@mixin linkHover{
  transition: color 300ms ease-in-out;

  &:hover {
    transition-duration: 80ms;
    transition-timing-function: linear;

    @include themeLight {
      color: #516CF7;
    }

    @include themeMidnight {
      color: #9E3F37;
    }

    @include themeDark {
      color: #8397fc;
    }
  }
}

.typography {
  display: block;
  font-family: $primaryFont;
  line-height: 125%;
  margin: 0;
  padding: 0;
  color: inherit;
  font-weight: inherit;
  text-decoration: none;

  &_linked {
    @include linkHover;
  }

  &_heading {
    font-size: get-rem(38);
  }

  &_title {
    font-size: get-rem(28);
  }

  &_caption-sm {
    font-size: get-rem(12);
  }

  &_caption-md {
    font-size: get-rem(13);
  }

  &_paragraph-md {
    font-size: get-rem(16);
  }

  &_paragraph-sm {
    font-size: get-rem(15);
  }

  &_extra-light {
    font-weight: 100;
  }

  &_light {
    font-weight: 200;
  }

  &_thin {
    font-weight: 300;
  }

  &_regular {
    font-weight: 400;
  }

  &_medium {
    font-weight: 500;
  }

  &_demi-bold {
    font-weight: 600;
  }

  &_bold {
    font-weight: 700;
  }

  &_extra-bold {
    font-weight: 800;
  }

  &_black {
    font-weight: 900;
  }

  &_black-color {
    @include themeLight {
      color: $lightThemeBlack;
    }

    @include themeMidnight {
      color: $midnightThemeBlack;
    }

    @include themeDark {
      color: $darkThemeBlack;
    }

    @include themeChangeTransition(color);
  }

  &_dark-gray-color {
    @include themeLight {
      color: $lightThemeDarkGray;
    }

    @include themeMidnight {
      color: $midnightThemeDarkGray;
    }

    @include themeDark {
      color: $darkThemeDarkGray;
    }

    @include themeChangeTransition(color);
  }

  &_gray-color {
    @include themeLight {
      color: $lightThemeGray;
    }

    @include themeMidnight {
      color: $midnightThemeGray;
    }

    @include themeDark {
      color: $darkThemeGray;
    }

    @include themeChangeTransition(color);
  }

  &_light-gray-color {
    @include themeLight {
      color: $lightThemeLightGray;
    }

    @include themeMidnight {
      color: $midnightThemeLightGray;
    }

    @include themeDark {
      color: $darkThemeLightGray;
    }

    @include themeChangeTransition(color);
  }

  &_accent-color {
    @include themeLight {
      color: #516CF7;
    }

    @include themeMidnight {
      color: #9E3F37;
    }

    @include themeDark {
      color: #8397fc;
    }

    @include themeChangeTransition(color);
  }

  &_white-color {
    color: #fff;

    @include themeDark {
      color: #000;
    }

    @include themeChangeTransition(color);
  }

  &_no-wrap {
    white-space: nowrap;
  }

  &_italic {
    font-style: italic;
  }

  &_inline {
    display: inline-block;
  }
}
