$primaryFont: 'TT Commons', 'SF Pro Text', -apple-system, sans-serif;

$lightThemeBlack: #2e2e48;
$lightThemeDarkGray: #3d465c;
$lightThemeGray: #646a7b;
$lightThemeLightGray: #79819a;

$midnightThemeBlack: hsl(0, 7%, 15%);
$midnightThemeDarkGray: hsl(30, 7%, 25%);
$midnightThemeGray: hsl(30, 7%, 40%);
$midnightThemeLightGray: hsl(30, 14%, 45%);

$darkThemeBlack: #e0e0eb;
$darkThemeDarkGray: #d2d4db;
$darkThemeGray: #aaafbb;
$darkThemeLightGray: #8e94a4;
