@import '~styles/functions.scss';
@import '~styles/mixins.scss';
@import '~components/theme/theme-provider-mixins.module.scss';

.container {
  position: relative;
  width: 100%;
  padding: get-rem(120) 0 get-rem(20) 0;

  @include screenMd {
    width: auto;
    margin-top: get-rem(150);
    margin-bottom: 0;
  }
}

.title {
  font-size: get-rem(46);
  line-height: 0.8em;
  color: #ffffff;
}

.username {
  color: #ffffff;;
  opacity: 0.65;
}

.links {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  margin-top: get-rem(46);

  @include screenMd {
    flex-direction: row;
  }
}

.link {
  display: inline-block;
  width: auto;
  position: relative;
  opacity: 1;
  min-width: get-rem(110);
  margin-bottom: 3em;
  will-change: opacity;

  @include screenMd {
    margin-bottom: 0;
    margin-right: 3em;
  }

  &:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }

  @include theme($light, $dark, $midnight) {
    &[href] {
      transition: opacity 0.2s ease-in-out;
      color: #ffffff;

      &:hover {
        opacity: 0.5;
        color: #ffffff;
      }
    }
  }

  &:hover,
  &:active {
    &::after {
      transform: scaleX(0);
    }
  }

  &::after {
    content: '';
    position: absolute;
    animation: slideIn 1s ease-in-out;
    transition: transform 0.2s ease-in-out;
    will-change: transform;
    top: 120%;
    left: 0;
    width: 100%;
    border-bottom: get-rem(1) solid currentColor;
    transform-origin: left center;
    pointer-events: none;
  }

}

@keyframes slideIn {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.spotify-playlist-container {
  padding-top: get-rem(46);
  min-width: 100%;
  flex: 1;
}

.spotify-playlist {
  width: 100%;
  height: get-rem(80);

  @include screenMd {
    height: get-rem(300);
    // max-width: get-rem(400);
  }
}
