@import '~styles/functions.scss';
@import '~styles/mixins.scss';
@import '~components/theme/theme-provider-mixins.module.scss';

.container {
  position: relative;
  margin-bottom: get-rem(140);

  @include screenMd {
    margin-top: get-rem(96);
    margin-bottom: 0;
  }
}

.title {
  font-size: get-rem(46);
  line-height: 0.8em;
  color: #ffffff;
}

.username {
  color: #ffffff;;
  opacity: 0.65;
}

.links {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: get-rem(46);

  @include screenMd {
    flex-direction: row;
    position: relative;
  }
}

.link {
  display: block;
  position: relative;
  opacity: 1;
  margin-bottom: 3em;
  margin-right: 3em;
  will-change: opacity;

  @include theme($light, $dark, $midnight) {
    &[href] {
      transition: opacity 0.2s ease-in-out;
      color: #ffffff;

      &:hover {
        opacity: 0.5;
        color: #ffffff;
      }
    }
  }

  &:hover,
  &:active {
    &::after {
      transform: scaleX(0);
    }
  }

  &::after {
    content: '';
    position: absolute;
    animation: slideIn 1s ease-in-out;
    transition: transform 0.2s ease-in-out;
    will-change: transform;
    top: 120%;
    left: 0;
    width: 120%;
    border-bottom: get-rem(1) solid currentColor;
    transform-origin: left center;
    pointer-events: none;
  }

}

@keyframes slideIn {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

