@import '~styles/mixins.scss';
@import '~styles/functions.scss';
@import '~components/theme/theme-provider-mixins.module.scss';

.wrapper {
  min-height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;

  @include screenLg() {
    padding: get-rem(30);
  }

  @include themeLight {
    background-color: #E3E7ED;
  }

  @include themeMidnight {
    background-color: hsl(32, 50%, 90%);
  }

  @include themeDark {
    background-color: hsl(222, 25%, 23%);
  }

  @include themeChangeTransition(background-color);

  @include print {
    background-color: unset;
    padding: 0;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;

  @include screenLg() {
    margin: 0 auto;
    flex-direction: row;
    max-width: 1140px;
    border-radius: get-rem(16);
    overflow: hidden;

    @include themeLight {
      box-shadow: 0 get-rem(60) get-rem(36) hsla(215, 21%, 11%, 0.01),
                  0 get-rem(26) get-rem(26) hsla(215, 21%, 11%, 0.01),
                  0 get-rem(6) get-rem(14) hsla(215, 21%, 11%, 0.01);
    }

    @include themeMidnight {
      box-shadow: 0 get-rem(60) get-rem(36) hsla(215, 21%, 11%, 0.03),
                  0 get-rem(26) get-rem(26) hsla(215, 21%, 11%, 0.02),
                  0 get-rem(6) get-rem(14) hsla(215, 21%, 11%, 0.01);
    }

    @include themeDark {
      box-shadow: 0 get-rem(60) get-rem(36) rgba(0, 0, 0, 0.05),
                  0 get-rem(26) get-rem(26) rgba(0, 0, 0, 0.1),
                  0 get-rem(6) get-rem(14) rgba(0, 0, 0, 0.1);
    }

    @include themeChangeTransition(box-shadow);
  }

  @include print {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
}

.download-button-container {
  width: 100%;
  position: fixed;
  left: 0;
  padding: 0 get-rem(20);
  bottom: get-rem(20);
  z-index: 3;

  @include screenMd {
    left: auto;
    padding: 0;
    right: get-rem(20);
    width: get-rem(210);
  }

  @include screenLg {
    position: absolute;
    bottom: auto;
    width: auto;
    right: 0;
    top: 0;
  }

  @include print {
    display: none;
  }

  .download-button {
    width: auto;

    @include screenLg {
      border-radius: 0 0 0 get-rem(16);
    }
  }
}

.aside {
  flex: 0;
  width: 100%;
  padding: get-rem(64);

  @include screenMd() {
    padding: get-rem(48);
  }
}

.main {
  flex: 1;
  padding: get-rem(48) get-rem(24);
  padding-bottom: get-rem(80);

  @include screenMd() {
    padding: get-rem(48) get-rem(24);
    padding-bottom: get-rem(80);
  }

  @include screenLg() {
    padding: get-rem(64) get-rem(48) get-rem(48) get-rem(32);
  }
}

