$themeChangingDuration: 300;
$light: light;
$midnight: midnight;
$dark: dark;

@mixin theme($colors...) {
  @each $color in $colors {
    :global(.theme_#{$color}) & {
      @content
    }
  }
}

@mixin themeLight {
  :global(.theme_light) & {
    @content;
  }
}

@mixin themeDark {
  :global(.theme_dark) & {
    @content;
  }
}

@mixin themeMidnight {
  :global(.theme_midnight) & {
    @content;
  }
}

@mixin rootThemeLight {
  &:global(.theme_light) {
    @content;
  }
}

@mixin rootThemeDark {
  &:global(.theme_dark) {
    @content;
  }
}

@mixin rootThemeMidnight {
  &:global(.theme_midnight) {
    @content;
  }
}

@mixin themeTransition($properties...) {
  transition-property: $properties;
  transition-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
  transition-duration: $themeChangingDuration+ms;
}

@mixin rootThemeChangeTransition($properties...) {
  &:global(.theme_changing) {
    @include themeTransition($properties...);
  }
}

@mixin themeChangeTransition($properties...) {
  :global(.theme_changing) & {
    @include themeTransition($properties...);
  }
}

:export {
  themeChangingDuration: $themeChangingDuration;
}
