@import './theme-provider-mixins.module.scss';

:global {
  .theme {
    &_light {
      --theme: light;
    }

    &_midnight {
      --theme: midnight;
    }

    &_dark {
      --theme: dark;
    }

    &_changing {
      --toggling: true;
    }
  }
}

:export {
  themeChangingDuration: $themeChangingDuration;
  themeDark: theme_dark;
  themeLight: theme_light;
  themeMidnight: theme_midnight;
  themeChanging: theme_changing;
}
