@import '~common/styles/mixins.scss';
@import '~common/styles/functions.scss';
@import '~common/components/theme/theme-provider-mixins.module.scss';

.hero {
  display: flex;
  align-items: stretch;
  min-height: 100%;

  @include themeLight {
    background-color: hsla(0, 0%, 94%, 1);
  }

  @include themeDark {
    background-color: hsla(0, 0%, 6%, 1);
  }

  @include themeChangeTransition(background-color);

  &__canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(60px);
    pointer-events: none;

    @include themeLight {
      opacity: 0.6;
    }

    @include themeChangeTransition(opacity);
  }

  &__body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    flex-grow: 1;
    z-index: 3;
    padding: 0 get-rem(40);

    @include screenMd {
      justify-content: center;
    }
  }
}

.logo {
  position: fixed;
  z-index: 4;
  top: get-rem(20);
  left: get-rem(20);
  width: get-rem(40);

  @include themeDark {
    fill: #fff;
  }

  @include themeLight {
    fill: #000;
  }

  @include themeChangeTransition(fill);
}

.theme-toggler {
  position: absolute;
  top: get-rem(20);
  right: get-rem(20);
  z-index: 10;
  font-size: get-rem(20);
}
