@import '../theme-provider-mixins.module.scss';

.sunset-icon {
  display: block;
  width: 1em;
  height: 1em;

  &__core {
    animation: scale $themeChangingDuration * 2 + ms cubic-bezier(0.22, 1, 0.36, 1) forwards;
    transform-origin: bottom center;
  }
}


@keyframes scale {
  from {
    transform: scale(20%);
  }

  to {
    transform: scale(100%);
  }
}
