@import '../theme-provider-mixins.module.scss';

.moon-icon {
  display: block;
  width: 1em;
  height: 1em;

  &__core {
    animation: spin $themeChangingDuration * 2 + ms cubic-bezier(0.22, 1, 0.36, 1) forwards;
    transform-origin: center center;
  }
}

@keyframes spin {
  from {
    transform: scale(65%) rotate(90deg);
  }

  to {
    transform: scale(100%) rotate(0);
  }
}

