@import '../theme-provider-mixins.module.scss';

.sun-icon {
  display: block;
  width: 1em;
  height: 1em;

  &__core {
    animation: scale $themeChangingDuration * 2 +ms cubic-bezier(0.22, 1, 0.36, 1) forwards;
    transform-origin: center center;
  }

  &__rays {
    animation: spin $themeChangingDuration * 2 +ms cubic-bezier(0.22, 1, 0.36, 1) forwards;
    transform-origin: center center;
    opacity: 0.6;
  }
}

@keyframes spin {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes scale {
  from {
    transform: scale(150%);
  }

  to {
    transform: scale(100%);
  }
}
