@import '~components/theme/theme-provider-mixins.module.scss';
@import '~styles/functions.scss';

.theme-toggler {
  display: block;
  border: none;
  padding: 0.25em;
  margin: 0;
  background: transparent;
  cursor: pointer;
  text-align: left;
  transition: opacity 200ms ease-in-out;

  &:hover {
    opacity: 0.6;
  }

  &:hover {
    opacity: 1;
    transform: translate(0);
  }

  @include theme($midnight, $light) {
    color: #000;
  }

  @include themeDark {
    color: #fff;
  }


  &_inverted {
    @include theme($midnight, $light) {
      color: #fff;
    }

    @include themeDark {
      color: #000;
    }
  }
}
